<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sahem_application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sahem_application"
        android:usesCleartextTraffic="true">
        <activity android:name=".TryUpload">
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>
        <activity android:name=".AddCampaign" />
        <activity android:name=".EventDetailsActivity" />
        <activity android:name=".activities.CampaignActivity" />
        <activity android:name=".activities.AllCampaigns" />
        <activity android:name=".activities.CampaignRow" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".CodeVerifpage" />
        <activity android:name=".Homepage" />
        <activity android:name=".Forgetpassword" />
        <activity android:name=".Registration" />
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.Sahem_application.NoActionBar"/>
        <activity android:name=".Login"
            android:theme="@style/Theme.Sahem_application.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>